.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 80px;

  background: #0f172a;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.logo span {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.menu a:hover {
  color: #38bdf8;
}

.menu a.active {
  color: #38bdf8;
}